@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  /* -ms-overflow-style: none; /* IE and Edge */
  /* scrollbar-width: none; Firefox */

  /* ::-webkit-scrollbar { */
  /* display: none; Chrome, Safari, Opera */
  /* } */
}

.mainWrap {
  width: calc(100% - 200px);
  position: absolute;
  left: 200px;
  top: 5rem;
  padding: 1rem;
  margin: 0 auto;
  height: calc(100vh - 5rem);
  overflow-y: auto;
  padding-bottom: 100px;
}

.modalWrap {
  width: 80%;
  max-width: 1060px;
  height: calc(100vh - 5rem);
  max-height: 580px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  overflow-y: auto;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #000;
  z-index: 5;

  .swiper-slide {
    width: 150px;
    cursor: pointer;
  }
}

.timeWrap::-webkit-scrollbar {
  width: 10px;
}

.timeWrap::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #dccbe7;
  cursor: pointer;
}
.timeWrap::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #9672f8;
  cursor: pointer;
}
.timeWrap::-webkit-scrollbar-button {
  display: none;
}

.movieWrap::-webkit-scrollbar {
  width: 10px;
}

.movieWrap::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #dccbe7;
  cursor: pointer;
}
.movieWrap::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #9672f8;
  cursor: pointer;
}
.movieWrap::-webkit-scrollbar-button {
  display: none;
}

.movieSwiper {
  width: 100%;
  margin: 0 auto;

  .swiper-button-prev {
    left: 0px;
  }
  .swiper-button-next {
    right: 0px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type="number"] {
  -moz-appearance: textfield;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.clearfix:before,
.clearfix:after {
  display: block;
  content: "";
  line-height: 0;
  color: #ff2f2f;
}

.clearfix:after {
  clear: both;
}
